<style>
 :root {
     /* Primary theme color */
     --primary-color: #a37efe;
     /* Primary theme text color */
     --primary-text-color: #443631;
     /* Primary theme link color */
     --primary-link-color: #f9bb2d;
     /* Secondary color: the background body color */
     --secondary-color: #fefaf5;
     --secondary-text-color: #303030;
     /* Highlight text color of table of content */
     --toc-highlight-text-color: #d46e13;
     --heading-text-color: #94d773;
     --logo-text-color: #21391e;
 }
</style>
