{% import "_macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include "_variables.html" %}
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/juice.css">
    <link rel="stylesheet" href="/jui_ce.css">
    {% block head %}
    {% endblock head %}
</head>

<body>
    {% block header %}

    <header class="pos-absolute" style="background-color: transparent">
        {{ macros::render_header() }}
    </header>

    <div class="hero">
        {% block hero %}
        <section class="text-center">
            <h1 class="heading-text" style="font-size: 50px">
                {% block heading %}{{ config.title }}{% endblock heading %}
            </h1>
            <h1 class="subheading-text" style="font-size: 30px">
                {% block subheading %}{{ section.title }}{% endblock subheading %}
            </h1>

            {% block toc %}
        {% if section.pages %}
        <div class="toc">
            <div class="toc-sticky">
                {% for pg in section.pages %}
                <div class="toc-item">
                    <a class="subtext" href="{{pg.permalink | safe}}">{{ pg.title }}</a>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endblock toc %}
        </section>

        <style>
         .hero section {
             height: 70vh;
             padding: 0 5rem;
         }
         @media screen and (max-width: 768px) {
             .hero section {
                 padding: 0 2rem;
             }

             .hero-image {
                 display: none
             }
         }
        </style>
        {% endblock hero %}
    </div>

    {% endblock header %}

    <main>
        <div class="content text">
            {% block content %}
            {{ section.content | safe }}
            {% endblock content %}
        </div>

        {% block sidebar %}
        {% endblock %}
    </main>

    {% block footer %}
    <footer>
        <small class="subtext">
            <a href="https://github.com/k7f/cause-effect.link"">k7f</a> © 2021
        </small>
    </footer>
    {% endblock footer %}
</body>
<script>
    function highlightNav(heading) {
        let pathname = location.pathname;
        document.querySelectorAll(".toc a").forEach((item) => {
            item.classList.remove("active");
        });
        document.querySelector(".toc a[href$='" + pathname + "#" + heading + "']").classList.add("active");
    }

    let currentHeading = "";
    window.onscroll = function () {
        let h = document.querySelectorAll("h1,h2,h3,h4,h5,h6");
        let elementArr = [];

        h.forEach(item => {
            if (item.id !== "") {
                elementArr[item.id] = item.getBoundingClientRect().top;
            }
        });
        elementArr.sort();
        for (let key in elementArr) {
            if (!elementArr.hasOwnProperty(key)) {
                continue;
            }
            if (elementArr[key] > 0 && elementArr[key] < 300) {
                if (currentHeading !== key) {
                    highlightNav(key);
                    currentHeading = key;
                }
                break;
            }
        }
    }
</script>

</html>
